
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.timer-container {
  align-self: center;
  background-color: aquamarine;
  height: 150px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-container {
  display: flex;
  align-content: space-between;
  width: 500px;
}

.timer {
  font-size: 135px;
}

.control-btn {
  width: 100px;
  height: 40px;
}
